<launch>

  <rosparam>
      /d435/decimation/filter_magnitude: 1
      /d435/stereo_module/visual_preset: 3   <!-- 3-HighAccuracy, 5-MediumDensity, 4-HighDensity -->
      /d435/stereo_module/emitter_enabled: 1
      /d435/stereo_module/laser_power: 180
      /d435/stereo_module/enable_auto_exposure: true
      /d435/rgb_camera/power_line_frequency: 1
      /d435/rgb_camera/backlight_compensation: false
      /d435/rgb_camera/auto_exposure_priority: false
      /d435/rgb_camera/enable_auto_white_balance: false
      /d435/color/image_raw/compressed/jpeg_quality: 50
      /d435/hole_filling/stream_filter: 2
<!--      /d435/stereo_module/auto_exposure_limit: 8000-->
      /d435/stereo_module/auto_gain_limit: 10
      /d435/pointcloud/allow_no_texture_points: true
  </rosparam>


  <arg name="serial_no"             default=""/>
  <arg name="json_file_path"        default="/home/vitulus/catkin_ws/src/vitulus/vitulus/launch/includes/d435HighAccuracy.json"/>
  <arg name="camera"                default="d435"/>
<!--  <arg name="usb_port_id"           default="4-1"/>-->
  <arg name="usb_port_id"           default=""/>

  <group ns="$(arg camera)">
    <include file="$(find realsense2_camera)/launch/includes/nodelet.launch.xml">
      <arg name="serial_no"         value="$(arg serial_no)"/>
      <arg name="json_file_path"    value="$(arg json_file_path)"/>
      <arg name="usb_port_id"         value="$(arg usb_port_id)"/>
      <arg name="depth_width"       value="640"/> <!--  1280 848 640 640 480 424 -->
      <arg name="depth_height"      value="480"/> <!--  720 480 480 360 270 240 -->
      <arg name="depth_fps"         value="15"/>
      <arg name="color_width"       value="640"/>
      <arg name="color_height"      value="480"/>
      <arg name="color_fps"         value="15"/>
      <arg name="enable_depth"      value="true"/>
      <arg name="enable_color"      value="true"/>
      <arg name="enable_infra1"     value="false"/>
      <arg name="enable_infra2"     value="false"/>
      <arg name="enable_fisheye"    value="false"/>
      <arg name="enable_gyro"       value="false"/>
      <arg name="enable_accel"      value="false"/>
      <arg name="enable_pointcloud" value="true"/>
      <arg name="enable_sync"       value="true"/>
      <arg name="tf_prefix"         value="$(arg camera)"/>

      <arg name="initial_reset"     value="true"/>
<!--      <arg name="allow_no_texture_points"     value="true"/>-->
      <arg name="filters"           value="decimation,temporal,hole_filling,disparity,spatial,"/>
      <arg name="clip_distance"     value="5"/>
<!--      <arg name="clip_distance"     value="3.1"/>  -->
      <arg name="align_depth"       value="true"/>
      <arg name="respawn"       value="true"/>
    </include>


  </group>



</launch>
