<launch>

<!--    <arg name="arg_ns" default=""/>-->
<!--    <group ns="$(arg arg_ns)">-->

        <!--    #### Node main  #####-->
        <node name="main" pkg="vitulus" type="main" respawn="true" respawn_delay="1" output="screen">
<!--            <param name="prm_name" value="prm_value"/>-->
<!--            <remap from="/topic" to="/another_topic" />-->
        </node>

<!--    </group>-->

    <!--##### Show in Rviz #####-->
    <!--    <node name="rviz"-->
    <!--              pkg="rviz"-->
    <!--              type="rviz"-->
    <!--              args="-d $(find vitulus)/rviz/vitulus.rviz"-->
    <!--              required="false" />-->

</launch>
