<launch>
    <node pkg="nodelet" type="nodelet" name="pcl_manager" args="manager" respawn="true" respawn_delay="1" output="screen"/>

    <!-- Run a VoxelGrid filter to clean NaNs and downsample the data -->
    <node pkg="nodelet" type="nodelet" name="voxel_grid_y" args="load pcl/VoxelGrid pcl_manager" respawn="true" respawn_delay="1" output="screen">
        <remap from="~input" to="/d435/depth/color/points"/>
        <remap from="~output" to="/voxel_grid/output_y"/>
        <rosparam>
            filter_field_name: y
            filter_limit_min: -0.70
            filter_limit_max: 2
            filter_limit_negative: False
            leaf_size: 0.02
        </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet" name="voxel_grid_z" args="load pcl/VoxelGrid pcl_manager" respawn="true" respawn_delay="1" output="screen">
        <remap from="~input" to="/voxel_grid/output_y"/>
        <remap from="~output" to="/voxel_grid/output_z"/>
        <rosparam>
            filter_field_name: z
            filter_limit_min: 0.68
            filter_limit_max: 3
            filter_limit_negative: False
            leaf_size: 0.02
        </rosparam>
    </node>
    <node pkg="nodelet" type="nodelet" name="voxel_grid_z_light" args="load pcl/VoxelGrid pcl_manager" respawn="true" respawn_delay="1" output="screen">
        <remap from="~input" to="/d435/depth/color/points"/>
        <remap from="~output" to="/voxel_grid/output_z_light"/>
        <rosparam>
            filter_field_name: z
            filter_limit_min: 0.25
            filter_limit_max: 4
            filter_limit_negative: False
            leaf_size: 0.08
        </rosparam>
    </node>

</launch>