<launch>
<node pkg="laser_filters" type="scan_to_scan_filter_chain" output="screen" name="laser_filter_scan_rplidar">
      <remap from="scan_filtered" to="/rplidar/scan_filtered" />
      <remap from="scan" to="/rplidar/scan_ovr" />
      <rosparam command="load" file="$(find vitulus)/config/scan_filter.yaml" />
</node>
</launch>