<launch>

<!--    <include file="$(find vitulus)/launch/main.launch">-->
<!--    <arg name="arg_name" value="$(arg arg_val)"/>-->
<!--    </include>-->
    <include file="$(find vitulus_ups)/launch/vitulus_ups.launch" />
    <include file="$(find vitulus)/launch/device_state_publisher.launch" />
    <include file="$(find vitulus)/launch/nextion_lcd.launch" />
    <include file="$(find vitulus_nmcli)/launch/nmcli.launch" />
    <include file="$(find vitulus_description)/launch/vitulus4wd.launch" />
    <include file="$(find vitulus_imu)/launch/vitulus_imu.launch" />
<!--    <include file="$(find vitulus_imu)/launch/vitulus_imu_v2.launch" />-->
    <include file="$(find vitulus)/launch/rplidar.launch" />
    <include file="$(find vitulus)/launch/d435.launch" />
    <include file="$(find vitulus_base)/launch/base_control.launch" />
    <include file="$(find vitulus)/launch/pcl_voxelgrid.launch"/>
<!--    <include file="$(find vitulus)/launch/open_cr.launch"/>-->
    <include file="$(find vitulus_gnss)/launch/vitulus_ardusimple_heading.launch"/>
    <include file="$(find vitulus_gnss)/launch/vitulus_ardusimple_gnss.launch"/>
    <include file="$(find vitulus_mower)/launch/mower.launch"/>
    <include file="$(find vitulus_ds4)/launch/ds4.launch"/>
    <include file="$(find vitulus_navi)/launch/navi_man.launch"/>
    <include file="$(find vitulus_planner)/launch/planner.launch"/>
    <include file="$(find system_monitor)/launch/system_monitor.launch"/>
    <include file="$(find vitulus_webui)/launch/vitulus_webui.launch"/>


<!--    ##### Show in Rviz #####-->

<!--    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find vitulus)/rviz/vitulus.rviz" required="false" />-->

</launch>
